svg#graph {
    background-color: white;
}

line.axis {
    stroke: #444444;
    stroke-width: 2;
}

line.bigTick {
    stroke: #666666;
    stroke-width: 1;
}

line.smallTick {
    stroke: #cccccc;
    stroke-width: 1;
}

text.tickLabel {
    stroke: #555555;
    font-size: 5;
}

.component {
    stroke-width: 4;
    opacity: 0.5;
    fill: none;
    transition: 0.15s;
}

.component:hover:not(.focused) {
    stroke-width: 8;
}

.component.focused {
    stroke-width: 4;
    opacity: 1;
}

circle.draggablePoint {
    r: 5;
    stroke-width: 12;
    stroke-opacity: 0.35;
    transition: 0.15s;
}

circle.draggablePoint:hover {
    cursor: all-scroll;
    r: 11;
    stroke-width: 0;
    transition: 0.15s;
}