svg#graph {
    background-color: white;
}

line.axis {
    stroke: #444444;
    stroke-width: 1;
}

line.bigTick {
    stroke: #666666;
    stroke-width: 1;
}

line.smallTick {
    stroke: #cccccc;
    stroke-width: 1;
}

text.tickLabel {
    stroke: #555555;
    font-size: 5;
    user-select: none;
}

.component {
    stroke-width: 4;
    opacity: 0.5;
    fill: none;
    transition: 0.15s;
}

.component:hover:not(.focused) {
    stroke-width: 8;
}

.component.focused {
    stroke-width: 4;
    opacity: 1;
}

circle.draggablePoint {
    r: 5;
    stroke-width: 12;
    stroke-opacity: 0.4;
    transition: 0.15s;
    z-index: 100;
}

circle.draggablePoint:hover, circle.draggablePoint.dragging {
    cursor: all-scroll;
    r: 11;
    stroke-width: 0;
    transition: 0.15s;
}

.dashed {
    stroke-width: 3;
    stroke-opacity: 0.6;
    stroke-dasharray: 15, 10;
    fill: none;
}

.dashed.solid {
    stroke-dasharray: none;
}