@font-face {
    font-family: "Montserrat";
    src: url("montserrat/Montserrat-Regular.otf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

:root {
    --dark-theme-background: #222222;

    --light-theme-background: #dddddd;
    --light-theme-text: #111111;
    --light-theme-light: #999999;
    --light-theme-dark: #555555;
    --light-theme-highlight: #3388ff;
}

body {
    background-color: #222222;
    font-family: "Montserrat";
}

input, button {
    font-family: "Montserrat";
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

header {
    background-color: var(--dark-theme-background);
    width: 100vw;
    height: 10vh;
    max-width: 100%;
    padding: 0 2vw;
}

header > h1 {
    font-size: 5vh;
    float: left;
    color: white;
    margin-top: 3vh;
    margin-left: 1vw;
}

button.topButton {
    font-size: 3vh;
    padding: 1vh 3vh;
    border-radius: 2vh;
    float: right;
    background-color: navy;
    color: white;
    border: none;
    margin-top: 3vh;
    margin-right: 1vw;
    transition: 0.15s;
    vertical-align: middle;
}

button.topButton:hover {
    background-color: blue;
}

button.topButton img {
    vertical-align: text-top;
    line-height: 3vh;
    height: 3vh;
    filter: invert();
}

div#main {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

div#zoomGroup {
    position: absolute;
    top: 2vh;
    left: 2vh;
    width: 6vh;
    height: 12vh;
}

button.zoomButton {
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 25%;
    margin: 0;
    background-color: var(--light-theme-background);
    border: 1px solid var(--light-theme-dark);
    font-size: 6vh;
    line-height: 0;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s;
}

button.zoomButton:hover:not(:disabled) {
    transition: 0.1s;
    background-color: var(--light-theme-light);
}

button.zoomButton:active:not(:disabled) {
    background-color: var(--light-theme-dark);
}

button.zoomButton:disabled {
    filter: opacity(.7);
}

button#zoomIn {
    top: 0;
    border-radius: 25% 25% 0 0;
}

button#zoomOut {
    bottom: 1px;
    border-radius: 0 0 25% 25%;
}

button.zoomButton img {
    max-width: 100%;
    max-height: 100%;
}

svg#graph {
    display: inline-block;
    height: 100%;
    flex: 1 1 0;
}

div#sidePanel {
    display: flex;
    flex-direction: column;
    background-color: var(--light-theme-background);
    flex: 0 0 30%;
    max-width: 30%;
    box-shadow: 0 0 1vw;
    text-align: center;
}

div#newButtonDiv {
    width: 100%;
    flex: 0 0 auto;
    text-align: center;
    font-size: 4vh;
    color: var(--light-theme-text);
    padding: 2vh 0;
    border-top: 2px solid var(--light-theme-light);
}

div#newButtonDiv > p {
    text-align: center;
    font-size: 4vh;
    color: var(--light-theme-text);
}

button.new {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    width: 6vh;
    height: 6vh;
    padding: 1vh;
    border-radius: 0.5vh;
    border: 1px solid var(--light-theme-light);
    margin: 0.5vh 0.5vw;
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

button.new:hover {
    transition: 0.1s;
    background-color: var(--light-theme-light);
}

button.new:active {
    border-color: var(--light-theme-dark);
    background-color: var(--light-theme-dark);
}

img.new {
    max-height: 100%;
    max-width: 100%;
}

div#entries {
    width: 100%;
    flex: 1 1 0;
    overflow-y: auto;
}

div.entry {
    display: block;
    text-align: initial;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 1vw 3vw;
    border-bottom: 1px solid var(--light-theme-light);
    transition: 0.25s;
}

div.entry.focused, div.entry:hover {
    background-color: #eeeeee;
}

div.entry > p {
    color: var(--light-theme-text);
    font-size: 3.5vh;
    margin-bottom: 0.5vh;
    vertical-align: middle;
}

div.entry > p > img {
    width: 3.5vh;
    height: 3.5vh;
    padding: 0.5vh;
    border-radius: 0.5vh;
    border: 1px solid var(--light-theme-light);
    margin-right: 0.5vw;
}

button.entryColorSquare {
    display: inline-block;
    width: 2.5vh;
    height: 2.5vh;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 0.75vw;
    position: relative;
}

div.entry:hover button.entryColorSquare::before {
    content: "";
    position: absolute;
    width: calc(2.5vh - 2px);
    height: calc(2.5vh - 2px);
    left: 0;
    top: 0;
    background-size: 150% 150%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("icons/edit.png");
}

div.entry.invert:hover button.entryColorSquare::before {
    filter: invert();
}

span.entryIcon {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    width: 3.5vh;
    height: 3.5vh;
    padding: 0.5vh;
    border-radius: 0.5vh;
    border: 1px solid var(--light-theme-light);
    margin-bottom: 0.5vh;
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
span.entryIcon > img {
    max-height: 100%;
    max-width: 100%;
}

div.colorMarker {
    position: absolute;
    width: 1vw;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 50%;
    transition: 0.15s;
}

div.entry.focused > div.colorMarker, div.entry:hover > div.colorMarker {
    width: 1.5vw;
    opacity: 100%;
}

div.entry > button.delete {
    position: absolute;
    background-image: url("icons/delete.svg");
    background-size: 100% 100%;
    border: none;
    width: 3vh;
    height: 3vh;
    top: 2vw;
    right: 2vw;
    filter: opacity(0.25);
    transition: 0.15s;
}

div.entry > button:hover {
    filter: opacity(0.5);
}

div.entry > button:active {
    filter: opacity(1);
}

div.property {
    position: relative;
    width: 40%;
    display: inline-flex;
    flex-direction: row;
    margin: 0.5vh 5% 0.5vh 0;
    align-items: baseline;
}

div.property.double {
    width: 90%;
}

div.property > label {
    flex: 0 0 auto;
    display: inline-block;
    font-size: 3vh;
}

div.property > label sub {
    font-size: 2vh;
}

div.property > input {
    flex: 1 1 0;
    min-width: 0;
    font-size: 2vh;
    background-color: Transparent;
    border: none;
    padding: 0 0.5vw 0 0.5vw;
    border-bottom: 2px solid var(--light-theme-light);
    text-align: right;
    margin: 0 0.25vw;
    transition: 0.1s;
}

div.property input:hover {
    border-bottom-color: var(--light-theme-dark);
    transition: 0.1s;
}

div.property input:focus {
    border-bottom-color: var(--light-theme-highlight);
}

div#glassPane {
    z-index: 100;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

div#ideasDiv {
    background-color: white;
    position: fixed;
    height: 80vh;
    width: 60vw;
    top: 10vh;
    left: 20vw;
    padding: 3vw;
    border-radius: 3vw;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

div#ideasDiv > button.delete {
    position: absolute;
    background-image: url("icons/delete.svg");
    background-size: 100% 100%;
    border: none;
    width: 3vh;
    height: 3vh;
    top: 3vw;
    right: 3vw;
    filter: opacity(0.25);
    transition: 0.15s;
}

div#ideasDiv > button.delete:hover {
    filter: opacity(0.5);
}

div#ideasDiv > button.delete:active {
    filter: opacity(1);
}

div#ideasDiv > img {
    display: block;
    margin: auto;
    height: 5vh;
}


div#ideasDiv h2 {
    font-size: 4vw;
    text-align: center;
}

div#ideasDiv hr {
    border: 1px solid black;
    margin-bottom: 3vh;
}

div#ideaList {
    flex: 0 1 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
    flex-wrap: wrap;
}

div.idea {
    display: inline-block;
    padding: 1vw;
    width: 16vw;
    margin: 0.5vw;
    text-align: center;
    transition: 0.15s;
    border-radius: 3px;
}

div.idea:hover {
    transition: 0.15s;
    background-color: #cccccc;
}

div.idea img {
    margin: auto;
    width: 12vw;
    height: 9vw;
    object-fit: cover;
}

div.idea p {
    font-size: 2vw;
    text-align: center;
}

article {
    background-color: var(--dark-theme-background);
    width: 100vw;
    max-width: 100%;
    text-align: center;
}

article p {
    color: white;
    font-size: 3vh;
    margin-top: 5vh;
}

article hr {
    border: white solid 1px;
    margin: 0 5%;
}

button#generate {
    font-size: 3vh;
    padding: 1vh 3vh;
    border-radius: 2vh;
    margin: auto;
    background-color: navy;
    color: white;
    border: none;
    margin-top: 2vh;
    transition: 0.15s;
}

button#generate:hover {
    background-color: blue;
}

div#hiddenDiv {
    display: none;
}

div.highlightDiv {
    margin: 5vh auto;
    width: 80vw;
    padding: 2vw;
    border-radius: 2vw;
    background-color: #333333;
}

p#equation {
    padding: 0;
    margin: 0;
    font-size: 3vh;
    overflow-x: auto;
}

p#equation * {
}

article h2 {
    color: white;
    font-size: 5vh;
}

div#howItWorks {
    display: none;
}

div#howItWorks.expanded {
    display: initial;
}

button#expandHowItWorks {
    border: none;
    background: none;
    width: 8%;
    margin-top: 3vh;
}

button#expandHowItWorks img {
    width: 100%;
    opacity: 50%;
    filter: invert();
    transition: 0.15s;
}

button#expandHowItWorks.expanded img {
    transform: scaleY(-1);
    transition: 0.15s;
}

button#expandHowItWorks:hover img {
    opacity: 75%;
}

div.smallGraphContainer {
    display: inline-block;
    margin: 3vh 2vw;
}

div.smallGraphContainer p {
    padding: 0;
    margin: 0;
}

svg.smallGraph {
    width: 15vw;
    height: 15vw;
}

line.smallAxis {
    stroke-width: 2;
    stroke: white;
}

.dashed {
    stroke-width: 2;
    stroke: red;
    stroke-dasharray: 8%;
}

.smallComponent {
    stroke-width: 5;
    stroke: navy;
    fill: none;
}

article p#footnote {
    font-size: 2vh;
    margin-top: 0;
}

article a {
    transition: 0.2s;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    color: white;
    margin-top: 5vh;
}

article a:hover {
    transition: 0.2s;
    text-decoration-color: navy;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(to bottom, var(--dark-theme-background), black);
}

div#coolButtons {
    padding-top: 15vh;
}

div#coolButtons a {
    display: inline-block;
    width: 6vh;
    height: 6vh;
    margin: 0 0.5vw;
    filter: opacity(0.75);
}

div#coolButtons a:hover {
    filter: opacity(1);
}

div#coolButtons a img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

footer p, footer a {
    font-size: 2.5vh;
    margin: 1vh 0;
}

[id$="Template"] {
    display: none !important;
}