div#zoomGroup {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 80px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    overflow: hidden;
}

button.zoomButton {
    flex: 1 0 0;
    text-align: center;
    width: 100%;
    padding: 30%;
    margin: 0;
    background-color: var(--light-theme-background);
    line-height: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s;
    border: none;
}

button.zoomButton:hover:not(:disabled) {
    transition: 0.1s;
    background-color: var(--light-theme-light);
}

button.zoomButton:active:not(:disabled) {
    background-color: var(--light-theme-dark);
}

button.zoomButton:disabled {
    filter: brightness(0.5);
    cursor: default;
}

button#zoomIn {
}

button#zoomOut {
    border-top: 1px solid var(--light-theme-dark);
}

button.zoomButton img {
    max-width: 100%;
    max-height: 100%;
}

div#graphDiv {
    position: relative;
    display: inline-block;
    height: 100%;
    flex: 1 1 0;
}

svg#graph {
    width: 100%;
    height: 100%;
}

svg#graph {
    background-color: white;
}

line.axis {
    stroke: #444444;
    stroke-width: 1;
}

line.bigTick {
    stroke: #666666;
    stroke-width: 1;
}

line.smallTick {
    stroke: #cccccc;
    stroke-width: 1;
}

text.tickLabel {
    stroke: #555555;
    font-size: 5;
    user-select: none;
}

.component {
    stroke-width: 4;
    opacity: 0.5;
    fill: none;
    transition: 0.15s;
}

.component:hover:not(.focused) {
    stroke-width: 8;
}

.component.focused {
    stroke-width: 4;
    opacity: 1;
}

circle.draggablePoint {
    r: 5px;
    stroke-width: 12;
    stroke-opacity: 0.4;
    transition: 0.15s;
    z-index: 100;
    cursor: move;
}

circle.draggablePoint:hover, circle.draggablePoint.dragging {
    cursor: all-scroll;
    r: 11px;
    stroke-width: 0;
    transition: 0.15s;
}

.dashed {
    stroke-width: 3;
    stroke-opacity: 0.6;
    stroke-dasharray: 15, 10;
    fill: none;
}

.dashed.solid {
    stroke-dasharray: none;
}