header {
    background-color: var(--dark-theme-background);
    width: 100vw;
    max-width: 100%;
    padding: 10px 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > h1 {
    font-size: 18pt;
    flex: 1 0 auto;
    color: white;
}

header > h1 > small {
    font-weight: normal;
    font-size: 11pt;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

button.topButton {
    font-size: 14pt;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: navy;
    color: white;
    border: none;
    transition: 0.15s;
    flex: 0 0 auto;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

button.topButton:hover {
    background-color: blue;
}

button.topButton img {
    vertical-align: text-top;
    height: 14pt;
    margin-right: 10px;
    filter: invert();
}