div#glassPane {
    z-index: 100;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

div.popup {
    position: relative;
    background-color: white;
    height: 80vh;
    width: 50vw;
    padding: 30px;
    border-radius: 20px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
}

div.popup > button.delete {
    position: absolute;
    background-image: url("../icons/delete.svg");
    background-size: 100% 100%;
    border: none;
    width: 20px;
    height: 20px;
    top: 30px;
    right: 30px;
    filter: opacity(0.25);
    transition: 0.15s;
    cursor: pointer;
}

div.popup > button.delete:hover {
    filter: opacity(0.5);
}

div.popup > button.delete:active {
    filter: opacity(1);
}

div.popup > img {
    flex: 0 0 auto;
    display: block;
    margin: auto;
    height: 40px;
}


div.popup h2 {
    flex: 0 0 auto;
    font-size: 20pt;
    text-align: center;
}

div.popup hr {
    flex: 0 0 auto;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

div#tutorialArticle {
    flex: 1 1 auto;
    overflow-y: auto;
}

div#tutorialArticle p {
    font-size: 14pt;
    margin-bottom: 20px;
}

div#ideaList {
    flex: 1 1 0;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

div.idea {
    display: inline-block;
    padding: 10px;
    width: 23%;
    text-align: center;
    transition: 0.15s;
    border-radius: 3px;
    cursor: pointer;
}

div.idea:hover {
    transition: 0.15s;
    background-color: #cccccc;
}

div.idea img {
    margin: auto;
    width: 100%;
    object-fit: cover;
}

div.idea p {
    font-size: 14pt;
    text-align: center;
}

div#saveDiv p {
    text-align: center;
    font-size: 14pt;
}

textarea#saveText {
    flex: 1 1 auto;
    resize: none;
    font-size: 12pt;
    padding: 20px;
    margin: 0 30px 20px;
    border-radius: 1vw;
    border: 1px solid black;
}

.saveButton {
    font-size: 11pt;
    padding: 5px;
    border-radius: 5px;
    background-color: navy;
    color: white;
    border: none;
    margin: auto;
    margin-bottom: 8px;
    transition: 0.15s;
    vertical-align: middle;
    width: 60%;
    display: block;
}   

.saveButton:hover:not(:disabled) {
    background-color: blue;
    cursor: pointer;
}

.saveButton:disabled {
    filter: opacity(0.5);
    cursor: default;
}

input#saveFileInput {
    display: none;
}

button#confirmSave {
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 14pt;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: navy;
    color: white;
    border: none;
}