div#sidePanel {
    display: flex;
    flex-direction: column;
    background-color: var(--light-theme-background);
    flex: 0 0 25%;
    max-width: 25%;
    box-shadow: 0 0 5px;
    text-align: center;
    z-index: 1;
}

div#titleDiv {
    width: 100%;
    flex: 0 0 auto;
    text-align: center;
    color: var(--light-theme-text);
    padding: 15px 20px;
    border-bottom: 1px solid var(--light-theme-light);
    text-align: left;
}

input#titleInput {
    width: 100%;
    font-size: 18pt;
    background-color: Transparent;
    border: none;
    border-bottom: 2px solid var(--light-theme-light);
    transition: 0.1s;
}

input#titleInput:hover {
    border-bottom-color: var(--light-theme-dark);
    transition: 0.1s;
}

input#titleInput:focus {
    border-bottom-color: var(--light-theme-highlight);
}

div#newButtonDiv {
    width: 100%;
    text-align: center;
    font-size: 18pt;
    color: var(--light-theme-text);
    margin-top: 10px;
}

div#newButtonDiv > p {
    text-align: center;
    font-size: 18pt;
    color: var(--light-theme-text);
}

button.new {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 0.5vh;
    border: 1px solid var(--light-theme-light);
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

button.new:hover {
    transition: 0.1s;
    background-color: var(--light-theme-light);
}

button.new:active {
    border-color: var(--light-theme-dark);
    background-color: var(--light-theme-dark);
}

img.new {
    max-height: 100%;
    max-width: 100%;
}

div#entries {
    width: 100%;
    flex: 1 1 0;
    overflow-y: auto;
    position: relative;
}

p#emptyEntries {
    display: none;
    color: #666666;
    font-size: 12pt;
    padding: 20px;
}

p#emptyEntries a {
    text-decoration: underline;
}

div.entry {
    display: block;
    text-align: initial;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 30px;
    border-bottom: 1px solid var(--light-theme-light);
    transition: 0.25s;
}

div.entry.focused, div.entry:hover {
    background-color: #eeeeee;
}

div.entry > p {
    color: var(--light-theme-text);
    font-size: 14pt;
    margin-bottom: 5px;
    vertical-align: middle;
    cursor: default;
}

button.entryColorSquare {
    display: inline-block;
    width: 12pt;
    height: 12pt;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-size: 150% 150%;
    background-position: center;
    background-repeat: no-repeat;
}

div.entry:hover button.entryColorSquare {
    background-image: url("../icons/edit.png");
}

div.entry.invert:hover button.entryColorSquare {
    background-image: url("../icons/editInverted.png");
}

span.entryIcon {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    width: 16pt;
    height: 16pt;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid var(--light-theme-light);
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

span.entryIcon > img {
    max-height: 100%;
    max-width: 100%;
}

div.colorMarker {
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 50%;
    transition: 0.15s;
}

div.entry.focused > div.colorMarker, div.entry:hover > div.colorMarker {
    width: 20px;
    opacity: 100%;
}

div.entry > button.delete {
    position: absolute;
    background-image: url("../icons/delete.svg");
    background-size: 100% 100%;
    border: none;
    width: 15px;
    height: 15px;
    top: 15px;
    right: 30px;
    filter: opacity(0.4);
    transition: 0.15s;
    cursor: pointer;
}

div.entry > button:hover {
    filter: opacity(0.8);
}

div.entry > button:active {
    filter: opacity(1);
}

div.property {
    position: relative;
    width: 42%;
    display: inline-flex;
    flex-direction: row;
    margin: 2px 6% 2px 0;
    align-items: baseline;
}

div.property.double {
    width: 90%;
}

div.property > label {
    flex: 0 0 auto;
    display: inline-block;
    font-size: 11pt;
}

div.property > label sub {
    font-size: 11pt;
}

div.property > input {
    flex: 1 1 0;
    min-width: 0;
    font-size: 11pt;
    background-color: Transparent;
    border: none;
    padding: 0 5px;
    border-bottom: 2px solid var(--light-theme-light);
    text-align: right;
    margin: 0 0.25vw;
    transition: 0.1s;
}

div.property input:hover {
    border-bottom-color: var(--light-theme-dark);
    transition: 0.1s;
}

div.property input:focus {
    border-bottom-color: var(--light-theme-highlight);
}

div.property input:invalid {
    border-bottom-color: red;
}